.row
  .col-12
    .row.justify-content-center
      %h3 Classibridge

    .row.justify-content-center.margin-top-10px
      .img-box
        image

    .row.justify-content-center.margin-top-10px
      .img-box
        video

    .row.justify-content-center.margin-top-10px
      %h5 Placeholder
