.articles-container
  %h3 Articles
  .articles-wrapper
    .row
    - @articles.in_groups_of(3, false) do |group|
      .row.margin-top-bottom-15px
        - group.each do |article|
          .article-container.col-sm-4
            .article
              .article-title.text-center
                %h3= link_to article.title, article_path(article.slug)
              .article-preview.row
                .article-preview-image.text-center.col-5
                  [img]
                .article-preview-text.col-7
                  = article.introduction
                  %br/
                  = link_to "read more", article_path(article.slug)
