%p= link_to 'New Article', new_article_path
%h3 Articles
.articles-container.row
  - @articles.each do |article|
    .article.col-4
      .article-title.text-center
        %h3= link_to article.title, article
      .article-preview.row
        .article-preview-image.text-center.col-5
          [img]
        .article-preview-text.col-7
          = truncate(article.text, length: 200)
