%p Dear Moderator,

%p your thread at #{@thread.url} has been temporarily locked and all the comments have been moved into moderation.

%p This has been done because out of the #{@comments.size} comments, #{@warning_comments.size} have been flagged at least 3 times and have a flag rate of at least 20%.

%p Please visit the admin panel to look over the comments of the thread and approve them as you deem fit.

%p To prevent this thread from being locked by this process again, you can adjust the Thread Settings to ignore this checker.
