@import "bootstrap";
@import "/\*";

$light-base: #fff;
$light: #fff;
$light-grayline: #D3D3D3;

$dark-base: #7A7A7A;
$dark: #7A7A7A;
$dark-grayline: #D3D3D3;

$breakpoint-tablet: 900px;
@media (min-width: $breakpoint-tablet) {
  #cf-comments-main {
    max-width: 60%;
  }
  #cf-comments-main {
    margin: 0 auto;
  }

}

@media (max-width: $breakpoint-tablet) {
  #cf-comments-main {
    width: 100%;
  }

  .blank1, .blank2 {
    display: none;
  }
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.translucent {
  opacity: .40;
}

.exclude-translucent {
  opacity: .20;
}

.visibility-hidden {
  visibility: hidden;
}

#cf-comments-app {
  width: 100%;
}
.cf-comments-main {
  width: 100%;
}

.cf-modal-locked {
  overflow: hidden;
}

.serif {
  font-family: "Times New Roman", Times, serif;

  p {
    font-family: "Times New Roman", Times, serif;
  }
}

.sans-serif {
  font-family: "Comic Sans MS", cursive, sans-serif;

  p {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}

.light {
  background: $light-base;

  div, p {
    // background-color: $light;
    color: #000;
  }

  .bordered {
    border: 1px solid $light-grayline;
    border-radius: 10px;
  }

  .error-text {
    color: #FF0001;
  }
}

.dark {
  background-color: $dark-base;

  div, p {
    background-color: $dark;
    color: #fff;
  }

  .bordered {
    border: 1px solid $dark-grayline;
    border-radius: 10px;
  }
}
