$breakpoint-tablet: 900px;
$breakpoint-phone: 450px;

$grayline: #D3D3D3;
$dark-grayline: #7A7A7A;
$bootstrap-blue: #0069D9;

@media (max-width: $breakpoint-tablet) {
  .cf-comment-replies-wrapper {
    margin-left: 5px;

    .cf-comment-replies {
      border-left: 1px solid $grayline;
      padding: 10px;
    }
  }

  .blank1, .blank2 {
    display: none;
  }

  .filter-btn-container {
    padding: 0;

    .filter-btn {
      border-radius: 0;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .cf-votes-top-row, .cf-votes-bot-row {
    font-size: 10px;
  }
}

#cf-comments-main {
  max-width: 400px;
  margin-left: 50px;
}

#cf-comments-app {
  width: 100%;
}

.cf-comments-main {
  width: 100%;
}

.cf-comment {

  .cf-comment-wrapper {
    width: 100%;
    height: auto; overflow: visible;
    min-height: 75px;


    .cf-comment-user-meta {
      position: relative;
      float: left;
      overflow: visible;

      .cf-avatar-infoTile {
        position: absolute;
        top: 0px;
        left: 50px;
        z-index: 300;

        background-color: #fff;
        border: 1px solid $grayline;
        height: auto;
        width: auto;
        border-radius: 10px;

        .cf-avatar-infoTile-content {
          margin: 10px;

          h4 {
            font-size: 1.25em;
            padding-bottom: 3px;
            font-weight: bold;
          }
        }
      }

      .cf-comment-user-avatar {
        width: 45px; height: 45px;
        white-space: nowrap;
        text-align: center;

        .avatar-helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        .avatar-image, .cf-comment-user-data {
          border-radius: 50%;
          width: 45px; height: 45px;
          vertical-align: middle;
        }
      }
    }

    .cf-comment-w-meta {
      padding-left: 10px;
      float: none;
      width: auto;
      overflow: hidden;

      .cf-comment-comment-meta {
        min-height: 15px;

        .cf-comment-user-name {
          width: 50%;
          float: left;
          font-size: 1.25em;
          color: purple;
          font-weight: bold;
        }
        .cf-comment-len-date{
          width: 50%;
          float: right;

          .cf-comment-at {
            float: left;
          }
          .cf-comment-length {
            float: right;
          }
        }
      }

      .cf-comment-text {
        background-color: #fafafa;
        height: auto;
        margin-top: 10px;
        word-wrap: break-word;
      }
    }
  }
  .cf-comment-voting {
    clear: both;
  }
}


.cf-comment-replies-wrapper {
  margin-left: 8px;

  .cf-comment-replies {
    border-left: 1px solid $grayline;
    padding: 20px;
  }
}

.cf-comment-user-data {
  height: 10%;
  width: 100%;
  text-align: center;
}

.cf-comment-text-area-edit {
  padding: 15px;
  margin: 10px 0 10px 0;
  border: 1px solid $bootstrap-blue;
}

.vote-btn {
  height: 25px;
  width: 25px;
  display: block;
  margin: auto;
}

.cf-votes-container {
  position: relative;
  margin-top: 5px;
  .disabled-voting-overlay {
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }
}

.red-outline-button {
  border: 1px red solid;
  color: red;
}

.comment-button, .reply-button, .show-filters-button, .fade-button {
  margin: 5px 5px 5px 0px;
  color: #777777;
  background: none;

  &:hover {
    color: #777777;
    background: #f8f9fa;
    border: 1px solid #777777;
  }
  &:focus {
    box-shadow: 0 0 0 0;
  }
}

.dark {
  .comment-button, .reply-button, .show-filters-button, .fade-button {
    color: #fff;

    &:hover {
      color: #fff;
      background: #000;
      border: 1px solid #777777;
    }
  }
}

.show-replies-button {
  color: #777777;
  background: #ffffff;

  &:hover {
    color: #777777;
    background: #f8f9fa;
    border: 1px solid #777777;
  }
  &:focus {
    box-shadow: 0 0 0 0;
  }
}

.show-votes-button {
  // margin: 5px 0px 5px 0px;
  color: #777777;
  background: #ffffff;

  &:hover {
    color: #777777;
    background: #f8f9fa;
    border: 1px solid #777777;
  }
  &:focus {
    box-shadow: 0 0 0 0;
  }
}

.comment-cancel-button, .cancel-reply-button, .login-button {
  margin: 5px 5px 5px 0px;
  color: #777777;
  background: #ffffff;
  &:hover {
    background: #f8f9fa;
    border: 1px solid #777777;
  }
}

.cf-clear-button {
  background: #f0f0f0;
  border: 1px solid $grayline;
  cursor: pointer;
}

.dark {
  .cf-clear-button {
    color: #fff;
    border: 1px solid $dark-grayline;
    background: #000;
  }
}

.cf-geo-filter-button {
  border-radius: 0px;
}

.vote-button-box,  {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 2px;
  margin-right: 2px;
}

.comment-interaction-line {
  line-height: 2.5em;
}

.comment-interaction-row {
  margin-top: 2px;
}

.comment-interaction-line-div {
  padding-left: .9em !important;
}

.user-name-avatar {
  margin-bottom: 0 !important;
}

.gender-image-box {
  min-width: 150px !important;
}

.display-linebreak {
  white-space: pre-line;
}

.cf-logo-image-form {
  width: 100%;
  margin-bottom: 10px;
}

.padding-cancel {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.block-follow-box-start {
  margin: 0px 0px 5px 15px;
}

.block-follow-box {
  max-width: 150px;
}
