$breakpoint-tablet: 900px;
$breakpoint-phone: 450px;

$grayline: #D3D3D3;
$bootstrap-blue: #0069D9;

@media (max-width: $breakpoint-tablet) {
  .cf-comment-replies-wrapper {
    margin-left: 5px;

    .cf-comment-replies {
      border-left: 1px solid $grayline;
      padding: 10px;
    }
  }

  .blank1, .blank2 {
    display: none;
  }

  .filter-btn-container {
    padding: 0;

    .filter-btn {
      border-radius: 0;
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .cf-votes-top-row, .cf-votes-bot-row {
    font-size: 10px;
  }
}

#cf-comments-main {
  max-width: 400px;
  margin-left: 50px;
}

#cf-comments-app {
  width: 100%;
}

.cf-comments-main {
  width: 100%;
}

.cf-comment {

  .cf-comment-wrapper {
    width: 100%;
    height: auto; overflow: hidden;


    .cf-comment-user-meta {
      width: 75px;
      float: left;

      .cf-comment-user-avatar {
        border: 1px solid $grayline;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        min-width: 60px; min-height: 60px;
        white-space: nowrap;
        text-align: center;

        .avatar-helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        .avatar-image, .cf-comment-user-data {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          min-width: 60px; min-height: 60px;
          vertical-align: middle;
        }
      }
    }

    .cf-comment-w-meta {
      padding-left: 10px;
      float: none;
      width: auto;
      overflow: hidden;

      .cf-comment-comment-meta {
        min-height: 15px;

        .cf-comment-user-name {
          width: 50%;
          float: left;
          font-size: 1.25em;
          color: purple;
          font-weight: bold;
        }
        .cf-comment-len-date{
          width: 50%;
          float: right;

          .cf-comment-at {
            float: left;
          }
          .cf-comment-length {
            float: right;
          }
        }
      }

      .cf-comment-text {
        background-color: #fafafa;
        height: auto;
        margin-top: 10px;
      }
    }
  }
  .cf-comment-voting {
    clear: both;
  }
}


.cf-comment-replies-wrapper {
  margin-left: 20px;

  .cf-comment-replies {
    border-left: 1px solid $grayline;
    padding: 20px;
  }
}

.cf-comment-user-data {
  height: 10%;
  width: 100%;
  text-align: center;
}

.cf-comment-text-area-edit {
  padding: 15px;
  margin: 10px 0 10px 0;
  border: 1px solid $bootstrap-blue;
}

.vote-btn {
  height: 25px;
  width: 25px;
}

.cf-votes-container {
  position: relative;
  .disabled-voting-overlay {
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }
}

.red-outline-button {
  border: 1px red solid;
  color: red;
}

.comment-button {
  margin: 5px 5px 5px 0px;
}
