$grayline: #D3D3D3;
$bootstrap-blue: #0069D9;

.cf-comment {

  .cf-comment-wrapper {
    position: relative;
    width: 100%;
    min-height: 100px;


    .cf-comment-user-meta {
      position: relative;
      width: 10%;
      min-height: 100px;
      float: left;

      .cf-comment-user-avatar {
        position: absolute;
        top: 0;
        left: 0;

        border: 1px solid $grayline;
        border-radius: 50%;
        height: 80%;
        width: 100%;
        white-space: nowrap;
        text-align: center; margin: 1em 0;

        .avatar-helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        .avatar-image {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          vertical-align: middle;
          // this may be the key to getting the avatar the way the user wants
          // filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(120deg);
        }
      }
    }

    .cf-comment-w-meta {
      width: 89%;
      min-height: 40px;
      margin-left: 11%;

      .cf-comment-comment-meta {
        height: 15px;

        .cf-comment-user-name {
          width: 50%;
          float: left;
        }
        .cf-comment-len-date{
          width: 50%;
          float: right;

          .cf-comment-at {
            float: left;
          }
          .cf-comment-length {
            float: right;
          }
        }
      }

      .cf-comment-text {
        border: 1px solid $grayline;
        border-radius: 10px;
        min-height: 35px;
        padding: 15px;
        margin-top: 10px;
      }
    }
    .cf-comment-voting {}
  }
}

.cf-comment-replies-wrapper {
  margin-left: 20px;

  .cf-comment-replies {
    border-left: 1px solid $grayline;
    padding: 20px;
  }
}

.cf-comment-user-data {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  text-align: center;
  margin-bottom: 7em;
}

.cf-comment-text-area-edit {
  padding: 15px;
  margin: 10px 0 10px 0;
  border: 1px solid $bootstrap-blue;
}

.vote-btn {
  height: 35px;
  width: 35px;
}
