.cf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.cf-modal-main {
  position:fixed;
  background: white;
  width: 85%;
  height: 80%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 15px;

  text-align: center;

  h3 {
    height: 10%;
  }
  .cf-modal-contents {
    height: 82%;
    width: 100%;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cf-modal-close {
    position: absolute;
    top: -8px;
    right: -8px;

    border: 3px solid #000;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #fff;
  }
}

.cf-display-block {
  display: block;
}

.cf-display-none {
  display: none;
}
