$breakpoint-phone: 575px;

.cf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.cf-modal-main {
  position: fixed;
  background: white;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;

  text-align: center;

  h3 {
    height: 8%;
    font-family: 'Sentinel SSm A','Sentinel SSm B',serif;
    font-size: 1.75em;
    line-height: 1em;
    letter-spacing: -.2px;
    margin-bottom: 10px;
  }
  ol {
    padding-inline-start: 20px !important;
  }

  .cf-modal-contents {
    height: 82%;
    width: 100%;
    padding-right: 15px;
    margin-top: 15px;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: auto;

    h3, li {
      font-family: 'Sentinel SSm A','Sentinel SSm B',serif;
      line-height: 1.5em;
      letter-spacing: -.2px;
    }

    li {
      font-size: 1.25em;
    }

  }
  .cf-modal-close {
    position: absolute;
    top: -8px;
    right: -8px;

    border: 3px solid #000;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #fff;
    line-height: .65em;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
  }
}

.cf-modal-large {
  height: 75%;
  width: 50%;
}

.cf-modal-medium {
  height: 60%;
  width: 40%;
}

.cf-modal-small {
  height: 25%;
  width: 40%;
}

.cf-modal-ok-button {
  margin: 5px;
}

.cf-modal-locked {
  overflow: hidden;
}

@media (max-width: $breakpoint-phone) {
  .cf-modal-main {
    width: 90%;
    height: 75%;
    margin-top: 15px;
  }
  .cf-modal-contents {
    padding-right: 10px;
  }

  .cf-modal-main-anonymous-warning {
    height: 35%;
  }

  .cf-modal-small {
    height: 25%;
  }

}
