$breakpoint-phone: 575px;

.cf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.cf-modal-main {
  position: fixed;
  background: white;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 15px;

  text-align: center;

  h3 {
    height: 10%;
  }
  ol {
    padding-inline-start: 20px !important;
  }
  .cf-modal-contents {
    height: 82%;
    width: 100%;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .cf-modal-close {
    position: absolute;
    top: -8px;
    right: -8px;

    border: 3px solid #000;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #fff;
    font-size: 2em;
    cursor: pointer;
  }
}

.cf-modal-locked {
  overflow: hidden;
}

@media (max-width: $breakpoint-phone) {
  .cf-modal-main {
    width: 90%;
    height: 75%;
    margin-top: 15px;
  }
  .cf-modal-contents {
    padding-right: 10px;
  }
}
