/* disable display of Whisper logout button */
#wwwhisper-iframe {
  display: none;
}
/* end */

$grey: #D3D3D3;
$grayline: #D3D3D3;

$breakpoint-tablet: 900px;
$breakpoint-phone: 575px;


.sentinel {
  font-family: 'Sentinel SSm A','Sentinel SSm B',serif;
}

.cf-link:hover {
  color: #5B3592;
}
.article-wrapper {
  max-width: 900px;
}

.dummy_link {
  display: inline-block;
  margin-right: 20px;
}

#cf-navbar, #cf-navbar-2 {
  background-color: #fff;
  border-bottom: 1px solid $grey;
}

#cf-navbar-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  z-index: 10;
}

#footer {
  background-color: #fff;
  min-height: 100px;
  border-top: 1px solid $grey;
  margin-top: 20px;
  z-index: 10;


  .msg {
    padding-top: 10px;
    width: 50%;
    text-align: center;

    h3 {
      text-align: center;
    }
  }
}

.navbar-social-icons {
  margin-left: 15px;
}

@media (max-width: 1000px) {
  #cf-navbar-2 {
    display: none;
  }
  #footer {
    .msg {
      width: 90%;
    }
  }
  .navbar-social-icons {
    margin-left: 10px;
  }
}

@media (max-width: $breakpoint-phone) {
  .navbar-social-icons {
    margin-left: 0px;
  }
}


.pagination {
  justify-content: center;
}

.articles-container {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  color: black;

  h3.main-title {
    font-weight: 900;
    font-size: 40px;
  }

  .article-box {
    max-width: 315px;
    min-width: 230px;
    width: 100%;
    height: auto;
    margin: 0 auto;

    @media (max-width: 1200px) {
      max-width: 250px;
    }

    @media (max-width: 1000px) {
      max-width: 210px;
    }

    @media (max-width: $breakpoint-tablet) {
      max-width: 200px;
    }

    @media (max-width: $breakpoint-phone) {
      max-width: 300px;
      margin-bottom: 10px;
    }
  }

  .articles-wrapper {
    margin: 10px;

    .article-row {
      min-height: 100px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $grayline;


      h3 {
        margin-bottom: 3px;
        font-weight: 900;
        font-size: 30px;

        @media (max-width: $breakpoint-phone) {
          font-size: 22px;
        }


        @media (max-width: $breakpoint-tablet) {
          font-size: 26px;
        }

        a {
          color: #000

        }
      }

      .pub-date {
        color: $grayline;
        margin-bottom: 5px;
        font-family: 'Sentinel SSm A','Sentinel SSm B',serif;
      }

      .preview {
        font-size: 1.25em;
        line-height: 1.5em;
        letter-spacing: -.2px;
        font-family: 'Sentinel SSm A','Sentinel SSm B',serif;
      }

    }
  }

}
.articles-main {
}

.articles-side {
  .side-container {

    .img-box {
      width: 90%;
      height: auto;

      img {
        width: 90%;
        height: auto;
      }
    }

    .vid-box {
      position: relative;
      width: 90%;
      height: 0;
      padding-bottom: 56.25%;

      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
      }
    }
  }
}
.article-wrapper {
  background-color: #ffffff;
  margin: auto;
  color: #000000;
  padding: 20px 20px;
  border-bottom: 1px solid $grayline;

  p {
    font-size: 1.25em;
    line-height: 1.5em;
    letter-spacing: -.2px;
    font-family: 'Sentinel SSm A','Sentinel SSm B',serif;

    word-wrap: break-word;
  }

  .article-header {
    text-align: left;
    h3 {
      font-size: 36px;
      font-weight: 900;
    }
    hr.sep {
      margin-left: 0px;
      align: left;
      width: 50px;
      border-color: #000;
    }
    h4 {
      font-size: 16px;
      font-weight: 700;
    }
    h4.grey {
      color: $grey;
      font-weight: 500;
    }
    .article-header-image {
      margin: 0 auto;

      .article-banner {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  .article-body {
    .body_text {
      width: 85%;
      font-size: 1.25em;
    }
    .article-middle-image {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .article-footer {
    margin-top: 20px;
    p {
      line-height: 30px;
      font-size: 28px;
    }
  }
}

.cf-navbar-date {
  font-size: 11px;
  padding-bottom: 0px !important;
}

.cf-navbar-title {
  font-weight: bold;
  font-size: 36px;
  font-family: sans-serif;
}
