$breakpoint-phone: 575px;
$grayline: #D3D3D3;

#cf-user-registration-form {
  margin: 20px auto;
  // border: 1px solid grey;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  background: rgba(255, 255, 255, 1 );
  color: #000000;
}

#cf-password-form {
  margin: 10px auto;
  padding: 30px;
  width: 500px;
  background: rgba(255, 255, 255, 1 );
  color: #000000;
}

#cf-user-login-container {
  margin: 20px auto;
  // border: 1px solid grey;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  background: rgba(255, 255, 255, 1 );
  color: #000000;
}

#cf-user-edit-account-container,
#cf-user-edit-settings-container,
#cf-user-edit-looks-container,
#cf-user-edit-demographics-container,
#cf-user-edit-password-container {
  margin: 10px auto;
  padding: 30px;
  border-radius: 5px;
  width: 550px;
  background: rgba(255, 255, 255, 1 );
  color: #000000;
}

#cf-user-edit-container {
  margin: auto;
  margin-top: 10px;
  width: 600px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 1 );
  border-radius: 5px;
  color: #000000;
  // border: 1px solid $grayline;
}

@media (max-width: $breakpoint-phone) {
  #cf-user-edit-form,
  #cf-password-form,
  #cf-user-registration-form,
  #cf-user-login-container,
  #cf-user-edit-settings-container,
  #cf-user-edit-container,
  #cf-user-edit-looks-container,
  #cf-user-edit-demographics-container,
  #cf-user-edit-account-container,
  #cf-user-edit-password-container {
    width: 100%;
  }
}


/* UserThemeSelector style */
#cf-theme-selector-options-wrapper {
  position: relative;
  width: 100%;

  height: 80px;

  select {
    width: 90%;
  }

  #cf-theme-selector-options-left {
    width: 50%;
    padding: 0 5% 0 5%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #cf-theme-selector-options-right {
    width: 50%;
    padding: 0 5% 0 5%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

#cf-theme-selector-demo-wrapper {
  width: 60%;
  height: 75px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #000;
  margin: auto;

  div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 10px;

    font-size: 2em;
  }
}

/* AgeRangeSelector style */
.cf-slider-label {
  text-align: center;
}

.cf-age-image {
  height: 50px;
  width: 50px;
  text-align: center;
}
.cf-slider-container {
  .slidecontainer {
    width: 100%;
  }

  .cf-age-slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .cf-age-slider:hover {
    opacity: 1;
  }

  .cf-age-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .cf-age-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
}

.cf-slider-age-range {
  font-size: 1rem;
}

.cf-geomap-wrapper {
  width: 100%;
}

.cf-geomap-container {
  position: relative;
  height: 200px;
  width: 300px;
  margin: auto;
  z-index: 8;
  background-image: url('/images/interface/maps/mercator-map.png');
  background-size: 300px 200px;
  background-repeat: no-repeat;
}

.cf-geo-info-container {
  position: relative;
  height: 100px;
  width: 150px;
  margin: 5px 10px;
  z-index: 8;
  background-image: url('/images/interface/maps/mercator-map.png');
  background-size: 150px 100px;
  background-repeat: no-repeat;
}

.cf-geomarker {
  position: absolute;
  border-radius: 50%;
  border: solid 1px #800080;
  background-color: #800080;
  height: 12px;
  width: 12px;
  pointer-events: none;
  z-index: 10;
}

.cf-geomarker-small {
  position: absolute;
  border-radius: 50%;
  border: solid 1px red;
  background-color: red;
  height: 6px;
  width: 6px;
  pointer-events: none;
  z-index: 10;
}

.cf-geomarker.medium {
  display: block;
  height: 24px; width: 24px;
}

.cf-geomarker.huge {
  display: block;
  height: 48px; width: 48px;
}

.cf-heatmap-marker {
  position: absolute;
  border-radius: 50%;
  border: solid 1px red;
  background-color: red;
  height: 12px;
  width: 12px;
  pointer-events: none;
  z-index: 15;
}

.cf-gender-btn {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
}

.cf-user-feedback-form {
  width: auto;
  padding: 10px 10px 10px 10px;
}

@media (max-width: $breakpoint-phone) {
  .cf-anon-login-button {
    margin-left: 20px !important;
  }
}

.cf-anon-login-button {
  margin-left: 35px;
}
