$light-base: #fff;
$light: #fff;
$light-grayline: #D3D3D3;
$grayline: #D3D3D3;

$dark-base: #7A7A7A;
$dark: #7A7A7A;
$dark-grayline: #D3D3D3;
$bootstrap-blue: #0069D9;

$breakpoint-tablet: 900px;
$breakpoint-phone: 575px;

/* Side panels */
.video-container {
  h4 {
  font-weight: bold;
  }
  .video-wrapper {
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
    text-align: center;

    img {
      max-height: 200px;
      max-width: 350px;
      height: auto;
      width: auto;
      display: block;
      margin: auto;
    }
  }
}

.adverts-container {
  padding-left: 25px;
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;

  .ad-container {
    height: auto;
    width: auto;
    margin-bottom: 20px;
    text-align: center;

    img {
      max-height: 400px;
      max-width: 400px;
      height: auto;
      width: auto;
      display: block;
      margin: auto;
    }
  }
}

/* end Side panels */

@media (min-width: $breakpoint-phone) {
  #cf-comments-main {
    max-width: 100%;
    margin-left: 5px;
  }
  .vote-row {
    width: 450px;
  }

  .filter-btn-container {
    padding: 0px;

    .filter-btn {
      border-radius: 0;
    }
  }
}

#cf-commenting-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 900px;
}

@media (max-width: $breakpoint-phone) {
  #cf-comments-main {
    width: 100%;
    margin-left: 0px;
  }
  .vote-row {
    width: 100%;
  }
  .filter-btn-container {
    padding: 0px;

    .filter-btn {
      border-radius: 0;
      width: 33%
    }
  }

  #cf-commenting-container {
    background-color: #ffffff;
    padding-top: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
  }
}

#body {
  background: #fff;
  margin: 0;
}

#body-container {
  padding-left: 0;
  padding-right: 0;
}

.centered {
  margin: 0 auto;
}

.link-text {
  color: blue;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.translucent {
  opacity: .40;
}

.exclude-translucent {
  opacity: .20;
}

.visibility-hidden {
  visibility: hidden;
}

.text-small {
  font-size: 1em;
}

.text-medium {
  font-size: 1.25em;
}

.text-large {
  font-size: 2.25em;
}

.text-center {
  text-align: center;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-15px {
  margin-top: 15px;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-top-bottom-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-top-bottom-15px {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-bottom-10px {
  margin-top: 10px;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-left-5px {
  margin-left: 5px;
}

.margin-right-10px {
  margin-right: 10px;
}

.margin-all-5px {
  margin: 5px 5px 5px 5px;
}

.margin-0 {
  margin: 0;
}

.hidden {
  display: none;
}

.error-text {
  color: #FF0001;
}

.cursor-pointer {
  cursor: pointer;
}

.w-450 {
  width: 450px;
}

.serif {
  font-family: "Times New Roman", Times, serif;

  p {
    font-family: "Times New Roman", Times, serif;
  }
}

.sans-serif {
  font-family: "Comic Sans MS", cursive, sans-serif;

  p {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}

.light {
  background: $light-base;

  div, p {
    // background-color: $light;
    color: #000;
  }

  .bordered {
    border: 1px solid $light-grayline;
    border-radius: 10px;
  }

  .error-text {
    color: #FF0001;
  }
}

.dark {
  background-color: $dark-base;

  div, p {
    background-color: $dark;
    color: #fff;
  }

  .bordered {
    border: 1px solid $dark-grayline;
    border-radius: 10px;
  }
}

h4 {
  font-size: 1em;
}



a:hover {
  background-color: rgba(255,255,255,0.0);
  color: #5B3592;
}

.deactivated-message {
  margin: 0 auto;
  text-align: center;
  color: #000;
  h2, h3, h4, h5 {
    margin: 0 auto;
  }
  h4 {
    font-size: 1.5em;
  }
}

.border-1px-bot {
    border-bottom: 1px solid $grayline;
}

@media (min-width: $breakpoint-phone) {
  .deactivated-message {
    width: 90%;
  }
}

@media (max-width: $breakpoint-phone) {
  .deactivated-message {
    width: 100%;
  }
}

.tooltip-container {
  position: relative;
  &:hover {
    .tooltip-content-top, .tooltip-content-bottom {
      visibility: visible;
      opacity: 1;
      transition: opacity .2s ease-out;
      transition-delay: .75s;
    }
  }
}

.tooltip-content-top {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  background: #fff;
  white-space: nowrap;
  left: -15px;
  top: -25px;
  padding: 3px 15px 3px ;
  font-size: 15px;
  width: auto;
  transition: opacity 1s all ease;
  transition-delay: .25s;
  z-index: 2;
  color: #000;

  &:after {
      content: "";
      position: absolute;
      border-width: 7px;
      border-style: solid;
      top: 100%;
      left: 25px;
      border-color: #D3D3D3 transparent transparent transparent;
  }
}

.tooltip-content-bottom {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  background: #fff;
  white-space: nowrap;
  left: -20%;
  top: 45px;
  padding: 3px 15px 3px ;
  font-size: 15px;
  width: auto;
  transition: opacity 1s all ease;
  transition-delay: .25s;
  z-index: 2;
  color: #000;

  &:after {
      content: "";
      position: absolute;
      border-width: 7px;
      border-style: solid;
      top: -57%;
      left: 19px;
      border-color: transparent transparent #D3D3D3 transparent;
  }
}

.login-statement-container {
  width: auto;
}

.login-statement {
  line-height: 2em;
  text-align: top;
  padding-left: 25px !important;
  font-size: 1.5em;
}

@media (max-width: $breakpoint-phone) {
  .login-statement-container {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
}

.privacy-policy {
  font-weight: 600;
}

#preset-filters-selector {
  margin-bottom: 5px;

  h4 {
    margin-bottom: 0px;
    margin-right: 10px;
  }

  .preset-filter-row {
    margin-left: 0px !important;
  }
}
.custom-checkbox > [type="checkbox"]:checked + label:before {
  background: #000 !important;
  box-shadow: none;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before {
  box-shadow: none;
}

.checkbox-row {
 margin-left: 0px !important;
}

.cf-filter-from-section {
  padding-right: 0px !important;
}

 @media (max-width: $breakpoint-phone) {
   .cf-filter-from-section {
     padding-right: 15px !important;
     margin-top: 10px;
   }
 }

 .line-height-2-25 {
   line-height: 2.25;
 }

#feedback-button {
  display: none;
  z-index: 50;
}
@media (max-width: $breakpoint-phone) {
  #feedback-button {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 15px;
  }
}

.cf-login-hr {
  margin-top: 0;
  margin-bottom: 0;
}
