$light-base: #fff;
$light: #fff;
$light-grayline: #D3D3D3;
$grayline: #D3D3D3;

$dark-base: #7A7A7A;
$dark: #7A7A7A;
$dark-grayline: #D3D3D3;
$bootstrap-blue: #0069D9;

$breakpoint-tablet: 900px;
$breakpoint-phone: 575px;

/* Side panels */
.cf-video-container {
  h4 {
  font-weight: bold;
  }
  .cf-video-wrapper {
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
    text-align: center;

    img {
      max-height: 200px;
      max-width: 350px;
      height: auto;
      width: auto;
      display: block;
      margin: auto;
    }
  }
}

// .vid-box {
//   position: relative;
//   width: 100%;
//   height: 0;
//   padding-bottom: 56.25%;
//
//   .video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

.cf-adverts-container {
  padding-left: 25px;
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;

  .cf-ad-container {
    height: auto;
    width: auto;
    margin-bottom: 20px;
    text-align: center;

    img {
      max-height: 400px;
      max-width: 400px;
      height: auto;
      width: auto;
      display: block;
      margin: auto;
    }
  }
}

.cf-vote-ratio {
  font-size: .8em;
}

/* end Side panels */

@media (min-width: $breakpoint-phone) {
  #cf-comments-main {
    max-width: 100%;
    margin-left: 5px;
  }
  .cf-vote-row {
    // width: 450px;
  }

  .cf-filter-btn-container {
    padding: 0px;

    .cf-filter-btn {
      border-radius: 0;
    }
  }
}

#cf-commenting-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 500px;
}

@media (max-width: $breakpoint-phone) {
  #cf-comments-main {
    width: 100%;
    margin-left: 0px;
  }
  .cf-vote-row {
    // width: 100%;
  }
  .cf-filter-btn-container {
    padding: 0px;

    .cf-filter-btn {
      border-radius: 0;
      width: 43%
    }
  }

  #cf-commenting-container {
    background-color: #ffffff;
    padding-top: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
  }
}

.cf-link-text {
  color: blue;
}

.cf-float-left {
  float: left;
}

.cf-float-right {
  float: right;
}

.cf-clear {
  clear: both;
}

.cf-translucent {
  opacity: .40;
}

.cf-visibility-hidden {
  visibility: hidden;
}


.cf-text-medium {
  font-size: 1.25em;
}

.cf-text-center {
  text-align: center;
}

.cf-margin-top-10px {
  margin-top: 10px;
}

.cf-margin-top-15px {
  margin-top: 15px;
}

.cf-margin-bottom-15px {
  margin-bottom: 15px;
}

.cf-margin-top-5px {
  margin-top: 5px;
}

.cf-margin-top-bottom-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cf-margin-top-bottom-15px {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cf-margin-bottom-10px {
  margin-bottom: 10px;
}

.cf-margin-left-10px {
  margin-left: 10px;
}

.cf-margin-left-12px {
  margin-left: 12px;
}

.cf-margin-left-5px {
  margin-left: 5px;
}

.cf-margin-right-10px {
  margin-right: 10px;
}

.cf-margin-all-5px {
  margin: 5px 5px 5px 5px;
}

.cf-margin-0 {
  margin: 0;
}

.cf-hidden {
  display: none;
}

.cf-error-text {
  color: #FF0001;
}

.cf-cursor-pointer {
  cursor: pointer;
}

.cf-serif {
  font-family: "Times New Roman", Times, serif;

  p {
    font-family: "Times New Roman", Times, serif;
  }
}

.cf-sans-serif {
  font-family: "Comic Sans MS", cursive, sans-serif;

  p {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}

.cf-light {
  background: $light-base;

  div, p {
    // background-color: $light;
    color: #000;
  }

  .cf-bordered {
    border: 1px solid $light-grayline;
    border-radius: 10px;
  }

  .cf-error-text {
    color: #FF0001;
  }
}

.cf-dark {
  background-color: $dark-base;

  div, p {
    background-color: $dark;
    color: #fff;
  }

  .cf-bordered {
    border: 1px solid $dark-grayline;
    border-radius: 10px;
  }
}

h4 {
  font-size: 1em;
}

hr {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

a:hover {
  background-color: rgba(255,255,255,0.0);
  color: #5B3592;
}

.cf-deactivated-message {
  margin: 0 auto;
  text-align: center;
  color: #000;
  h2, h3, h4, h5 {
    margin: 0 auto;
  }
  h4 {
    font-size: 1.5em;
  }
}

.border-1px-bot {
    border-bottom: 1px solid $grayline;
}

@media (min-width: $breakpoint-phone) {
  .cf-deactivated-message {
    width: 90%;
  }
}

@media (max-width: $breakpoint-phone) {
  .cf-deactivated-message {
    width: 100%;
  }
}

.cf-tooltip-container {
  position: relative;
  &:hover {
    .cf-tooltip-content-top, .cf-tooltip-content-bottom {
      visibility: visible;
      opacity: 1;
      transition: opacity .2s ease-out;
      transition-delay: .75s;
    }
  }
}

.cf-tooltip-content-top {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  background: #fff;
  white-space: nowrap;
  left: -14px;
  top: -35px;
  padding: 3px 15px 3px ;
  font-size: 15px;
  width: auto;
  transition: opacity 1s all ease;
  transition-delay: .25s;
  z-index: 2;
  color: #000;

  &:after {
      content: "";
      position: absolute;
      border-width: 7px;
      border-style: solid;
      top: 100%;
      left: 25px;
      border-color: #D3D3D3 transparent transparent transparent;
  }
}

.cf-tooltip-content-top-user-tile {
  left: -15px;
  top: -33px;

  &:after {
    top: 100%;
    left: 15px;
  }
}

.cf-tooltip-content-bottom {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  background: #fff;
  white-space: nowrap;
  left: -20%;
  top: 35px;
  padding: 3px 15px 3px ;
  font-size: 15px;
  width: auto;
  transition: opacity 1s all ease;
  transition-delay: .25s;
  z-index: 2;
  color: #000;

  &:after {
      content: "";
      position: absolute;
      border-width: 7px;
      border-style: solid;
      top: -57%;
      left: 19px;
      border-color: transparent transparent #D3D3D3 transparent;
  }
}

// .cf-login-statement-container {
//   width: auto;
// }

.cf-login-statement {
  line-height: 2em;
  // padding-left: 25px !important;
  font-size: 1.5em;
  font-weight: bold;
  color: #800080 !important;
}

@media (max-width: $breakpoint-phone) {
  .cf-login-statement-container {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
}

.cf-privacy-policy {
  font-weight: 600;
}

#cf-preset-filters-selector {
  margin: 15px 0px 15px 50px;

  h4 {
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 1.6;
  }

  select {
    width: 230px;
  }

  .cf-preset-filter-row {
    // margin-left: 0px !important;
  }
}

.cf-checkbox-row {
 margin-left: 0px !important;
}

.cf-filter-from-section {
}

 @media (max-width: $breakpoint-phone) {
   .cf-filter-from-section {
     margin-top: 10px;
   }
 }

 .cf-line-height-2-25 {
   line-height: 2.25;
 }

#cf-feedback-button {
  display: none;
  z-index: 100;
}
@media (max-width: $breakpoint-phone) {
  #cf-feedback-button {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 100;
  }
}

.cf-login-hr {
  margin-top: 0;
  margin-bottom: 0;
}

.cf-tutorial-video-container {
  padding: 10px 10px;
}

.cf-tutorial-options {
  width: 204px;
  margin: auto;

  p {
    font-weight: 500;
    font-size: 16px;
  }
}

.cf-self-vote-button {
  margin: 13px 0px 0px 10px !important;
}

.cf-results-count-container {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
  font-size: 1.25em;
  background: #ffffff;
  z-index: 100;

  @media (max-width: 1000px) {
    top: 45px;
  }
  @media (max-width: $breakpoint-tablet) {
    top: 45px;
  }
  @media (max-width: $breakpoint-phone) {
    top: 70px;
  }
}

.cf-open-close {
  font-weight: 700;
  img {
    width: 12px;
    height: 12px;
  }
}

.cf-link-no-ul {
  &:hover {
    text-decoration: none;
  }
}

.cf-privacy-policy-checkbox {
  margin-top: 14px;

  @media (max-width: $breakpoint-phone) {
    font-size: 12px;
    float: right;
    line-height: 2.3;
  }
}
